USE [master]
GO
drop database UserManagement
go

CREATE DATABASE [UserManagement] 

USE [UserManagement]
GO

delete tblUsers  where 1=1
go


CREATE TABLE [dbo].[tblUsers](
	[userID] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[roleID] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'admin', N'Toi la admin', N'1', N'AD', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'Hoadnt', N'Hoa Doan', N'1', N'US', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'SE130363', N'Ngo Ha Tri Bao', N'1', N'AD', 1)


CREATE TABLE [dbo].[tblProducts](
	[productID] [nvarchar](50) primary key,
	[name] [nvarchar](50),
	[price] [float],
	[quantity] [int] CHECK ([quantity] >= 0)
)

CREATE TABLE [dbo].[tblOrders](
	[orderID] [nvarchar](50) primary key,
	[userID] [nvarchar](50),
	[orderDate] [date],
	[total] [float],
	FOREIGN KEY ([userID]) REFERENCES tblUsers(userID)
)

CREATE TABLE [dbo].[tblOrderDetails](
	[detailID] [nvarchar](50) primary key,
	[orderID] [nvarchar](50),
	[productID] [nvarchar](50),
	[price] [float],
	[quantity] [int]
	FOREIGN KEY ([orderID]) REFERENCES [tblOrders]([orderID]), 
	FOREIGN KEY ([productID]) REFERENCES [tblProducts]([productID]), 
)

INSERT INTO [dbo].[tblProducts] ([productID], [name], [price], [quantity]) VALUES (N'T01', N'Milk Tea', N'30', N'9')
INSERT INTO [dbo].[tblProducts] ([productID], [name], [price], [quantity]) VALUES (N'T02', N'Olong Tea', N'25', N'9')
INSERT INTO [dbo].[tblProducts] ([productID], [name], [price], [quantity]) VALUES (N'T03', N'Blue Tea', N'50', N'10')
